# Mock Server Configuration
FLAKY_WINDOW=60
FLAKY_UP_RATIO=0.8
PID=mockserver

# MongoDB Configuration
MONGODB_URI=mongodb://mongodb:27017/
MONGODB_DB_NAME=mongodb
MONGODB_USER=user
MONGODB_PASSWORD=password

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=1 